<div class="container">
  <div class="search">
   <input type="text" placeholder ="Search setting">
   <div>15 Setting Found</div>
  </div>
</div>

<!-- <div class="tab-menu">
  <div [class.active]="false">
    User Setting
  </div>
  <div [class.active]="true">
    Workspace Setting
  </div>
</div> -->
 <div class="tab-menu">
   <div
   [class.active]="currentTab == 'user'"
   (click)="selectTab('user')">

    User Settings
   </div>

   <div
    [class.active]="currentTab == 'workspace'"
    (click)="selectTab('workspace')">

    Workspace Settings
   </div>
  </div>

  <div class="setting-panel" *ngIf="currentTab =='user'">
    <div class="settingTreeView">
      <span>Coomonly Used</span>
      <tree-root [nodes]="userMenuNodes" [options]="options"></tree-root>
    </div>
  <div class="settingConfigs">
      <h5>Commonly Used</h5>
      <app-config
        [groupName]="'Files :'"
        [name]="'Autosave'"
        [remark]="'(Modified in : User)'"
        [detail]="'Controls auto save of dirty files.'"
        [inValue]="'off'"
      ></app-config>
      <app-config
        [groupName]="'Editor :'"
        [name]="'Font Size'"
        [remark]="'(Modified in : User)'"
        [detail]="'Controls the font size in pixels..'"
        [inputValue]="'14'"
      ></app-config>
      <app-config
        [groupName]="'Editor :'"
        [name]="'Font Family'"
        [remark]="'(Modified in : User)'"
        [detail]="'Controls the font family.'"
        [inputValue]="'Consolas, \'Courier New\' monospace'"
      ></app-config>
      <app-config
        [groupName]="'Editor :'"
        [name]="'Tab Size'"
        [remark]="'(Modified in : User)'"
        [detail]="'The number of spaces a tab is equal to. This setting is overridden based on the file contents when Editor: Detect Indentation is on.'"
        [inputValue]="'4'"
      ></app-config>
   </div>
  </div>

  <div class="setting-panel" *ngIf="currentTab== 'workspace'">
    <div class="settingTreeView" >
      <span>Commonly Used</span>
      <tree-root [nodes]="workspaceMenuNodes" [options]="options"></tree-root>
    </div>
   <div class="settingConfigs" >
     <h5>Commonly Used</h5>
    <app-config
      [groupName]="'Files :'"
      [name]="'Autosave'"
      [remark]="'(Modified in : User)'"
      [detail]="'Controls auto save of dirty files.'"
      [inputValue]="'off'"
    ></app-config>
    <app-config
      [groupName]="'Editor :'"
      [name]="'Font Size'"
      [remark]="''"
      [detail]="'Controls the font size in pixels..'"
      [inputValue]="'14'"
    ></app-config>
    <app-config
      [groupName]="'Editor :'"
      [name]="'Font Family'"
      [remark]="''"
      [detail]="'Controls the font family.'"
      [inputValue]="'Consolas, \'Courier New\' monospace'"
    ></app-config>
    <app-config
      [groupName]="'Editor :'"
      [name]="'Tab Size'"
      [remark]="''"
      [detail]="'The number of spaces a tab is equal to. This setting is overridden based on the file contents when Editor: Detect Indentation is on.'"
      [inputValue]="'4'"
    ></app-config>
    <app-config
      [groupName]="'Editor :'"
      [name]="'Render Whitespace'"
      [remark]="''"
      [detail]="'Control the render how should render whitespace characters'"
      [inputValue]="'Selection'"
    ></app-config>
   </div>
  </div>
